/*
making the page look pretty n work well-sterling.
Having problems making sure there isnt unecessary amounts of info on this page. 30/6
*/

body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(56,90,128);
}

h4 {
    font-size: 3rem;
    color: rgb(5, 4, 1);
    text-align:center;
    margin: 0 auto 1.5rem auto;
    animation: glowloop 4s ease-in-out infinite alternate;
}

@keyframes glowloop {
    0% { color: rgb(5, 4, 1); }
    100% { color: rgb(70, 80, 112); }
}

h1 {
    color: rgb(33, 47, 149);
    font-size: x-large;
    margin: 0;
    padding: 1.25rem;
}

p {
    padding: 1.5rem 0;
    font-size: smaller;
}

h2, h3 {
    font-size:smaller;
    color: rgb(11, 56, 102);
}
#bg {
    background: radial-gradient(circle, #1d3557, #457b9d);
    background-image: url(jellyfish.avif);
    min-height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.panel {
    width: 90%;
    max-width: 800px;
    height: auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem 1.5rem;
    background-color: rgba(139, 116, 101, 0.8);
    border-radius: 10px;
}

#species-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 5rem;
}


#image-container {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(139, 116, 101, 0.95);
    border-radius: 15px;
    text-align: center;
    width: 90%;
    max-height: 450px;
    max-width: 450px;
    padding: 2.5rem 1.25rem 1.25rem;
    padding-bottom: 4rem;

}

#close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: #212f95;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999 !important;
}

#close-btn:hover {
    background-color: rgb(11, 61, 84);
}

#jellyfish {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain !important;
    border-radius: 8px;
}

#jellyfish-title {
    font-size: 2rem;
    color: rgb(5, 8, 9);
    font-style: italic;
    text-shadow: 2.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

#image-container::after {
    content: "Click the X button to close";
    display: block;
    font-size: 12px;
    color: rgb(50, 50, 50);
    margin-top: 10px;
}


.site-footer {
    text-align: center;
    color: rgb(27, 27, 62);
    padding: 15px;
    font-size: xx-small;
}

.site-footer a {
    color: rgb(45, 40, 40);
    text-decoration: none;
}


#quote-display {
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.quote-text {
    font-size: 1rem;
    font-style:italic;
    color: rgb(1, 1, 1);
    margin-bottom: 0.5rem;
}

.quote-author {
    font-size:0.80rem;
    font-weight: bold;
    color: rgb(186, 167, 140);
}