/*
making the page look pretty n work well-sterling.
*/

head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color:darkblue
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:black;
}

::backdrop{
    background:blue;
}
<img src="c:\Users\sterl\Downloads\jellyfish.avif" alt="This is a picture." height="500" wedth="500>"